main {
    padding: 2rem 4rem 3.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.details-two-elements {
    display: flex;
    gap: 4rem;
}

.text {
    text-align: justify;
}