#header {
    display:flex; 
    justify-content: center;
    align-items: center;
}


#logo{
    position: absolute;
    left: 1rem;
}

#nav-bar > ul {
    display:flex;
    gap: 1rem;
    list-style: none;
}

.nav-link {
    padding: 1rem;
}