/* Common */

#header {
    display:flex; 
    justify-content: center;
    align-items: center;
}

#logo{
    position: absolute;
    left: 1rem;
}

#nav-bar > ul {
    display:flex;
    gap: 1rem;
    list-style: none;
}

.nav-link {
    padding: 1rem;
}

.image-display {
    display: flex;
    padding: 2rem;
}

.image-with-content {
    display: flex;
    gap: 12px;
}

.image-display > img {
    border: 1px solid black;
    max-width: 40%;
    height: 200px;
    object-fit: contain;
    width: 11180px;
}

.image-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Nominados nacionales */